.navbar{
    background-color: var(--color-secundario-0);
    height: 11vh;
    display: flex;
    justify-content: center;
}

.navbar-contenedor {
    width: 80%;
    font-family: var(--tipografia-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo-texto{
    font-size: 2.1rem;
    margin: 0 auto;

}
.nav-lista {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 45%;
    margin-bottom: 0;
}

.nav-lista a{
    margin-left: 1rem;
    text-decoration: none;
    color: var(--color-neutro-darkness);
}

.nav-lista li {
    text-decoration: none;
    list-style: none;
    font-size: 1.5rem;
    
}

.btn-hamburguesa {
    display: none;
}

.bi {
    color: var(--color-neutro-darkness);
    margin-left: 0.75rem;
    
}

.btn-inicio {
    width: 6rem;
    color: var(--color-neutro-lightness);
    border-radius: 2rem;
    background-color: #9e9fa3;
    border: none;
    padding: .1rem .5rem;
    margin-right: .8rem;
    box-shadow: 2px 2px 2px #505155;
    font-size: 1.2rem;
}

.btn-inicio:hover {
    transform: scale(1.1);
    transition: .4seg all linear;
}

.btn-crear {
    width: 6rem;
    color: var(--color-neutro-lightness);
    border-radius: 2rem;
    background-color: #686a70;
    border: none;
    padding: .1rem .5rem;
    box-shadow: 2px 2px 2px #505155;
    font-size: 1.2rem;
}

.btn-crear:hover {
    transform: scale(1.1);
    transition: .4seg all linear;
}

/*  Media queries - Responsive  */

/*----------------- Large devices -------------------------*/

@media only screen and (min-width: 992px ) and (max-width: 1200px) {
        
    .navbar {
        background-color: lightcoral;
    }

    
}

/*----------------- Medium devices -------------------------*/


@media only screen and (min-width: 768px ) and (max-width: 991px) {
    .navbar {
        background-color: rgb(124, 250, 210);
    }

    .nav-lista{
        display: none;

    }

    .btn-hamburguesa {
        display: inline;
        justify-content: center;
    }

}

/*----------------- Small devices -------------------------*/


@media only screen and (min-width: 576px ) and (max-width: 767px) {
    .navbar {
        background-color: rgb(226, 47, 246);
    }
    
    .nav-logo-texto{
        font-size: 1.7rem;
    }

    .nav-lista{
        display: none;

    }

    .btn-hamburguesa {
        display: inline;
        justify-content: center;
    }

}

/*----------------- X Small devices -------------------------*/


@media only screen and (max-width: 575px) {
    .navbar {
        background-color: rgb(80, 94, 219);
    }

    .nav-logo-texto{
        font-size: 1.5rem;
    }

    .nav-lista{
        display: none;

    }

    .btn-hamburguesa {
        display: inline;
        justify-content: center;
    }

}